*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: #21272B;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 3px;
}

.logo{
    display: flex;
}

h1{
    color: #1BB4E8;
}

a{
    text-decoration: none;
    color: #fff;
}

li{
    padding: 5px;    
    border-right: #EBEBEB 1px solid;
}

ul{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
}

body{
    background-color: #EBEBEB;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#conteiner{
    background-color: #1A3243;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    right: 30px;
    top: 190px;
    width: 389px;
    padding: 10px;
}

.info{
    align-items: center;
    padding: 20px;
    height: 100%;
}

#b-principal{
    width: 100vw;
}

#destino{
    display:  flex;
    background-color: #1BB4E8;
    align-items: center;
    color: #EBEBEB;
}

#position{
    position: relative;
}

#frota{
    display: flex;
    background-color: #C6B07F;
    align-items: center;
    color: #EBEBEB;
}

span{
    color: #C6B07F;
}