*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: #21272B;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 3px;
    width: 980px;
    margin: auto;
}

header img{
    height: 55px;
    margin-top: 10px;
    margin-left: 10px;
}

#titulo h1{
    color: #1bb4e8;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}

li{
    padding: 0px 20px;    
    border-right: #EBEBEB 1px solid;
}

ul :last-child{
    border: none;
}

ul{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-between;
    list-style-type: none;
    padding:10px 5px;
}

body{
    background-color: #EBEBEB;
}

section{
    width: 980px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
}

#conteiner{
    background-color: #1A3243;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    right: 300px;
    top: 330px;
    width: 440px;
    padding: 30px;
    color: #fff;
}

#contato{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.info{
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    justify-self: justify;
}

#bd{
    width: 100%;
}

#b-principal{
    margin: auto;
    align-items: center;
}

#destino{
    display:  flex;
    background-color: #1BB4E8;
    align-items: center;
    color: #EBEBEB;
}

#position{
    margin: auto;
    width: 980px;
}

#frota{
    display: flex;
    background-color: #C6B07F;
    align-items: center;
    color: #EBEBEB;
    height: 41px;
}

#carrosel{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bc{
    width: 95%;
    padding: 0px 0px 10px 0px;
}

h4{
    font-size: 24px;
}

span{
    color: #C6B07F;
}

footer{
    text-align: center;
}

footer a{
    color: #000;
}